body{
    background-image:url("/s/use_your_illusion.png");
    }
#navbar{
    background-color:rgba(255,255,255,0.25);
    height:10%;
    position:fixed;
    margin-left:-0.5%;
    margin-top:-0.5%;
    }
#navbar span{
    margin-top:0.75%;
    margin-left:0.5%;
    margin-right:0.5%;
}
#navbar span form input{
    margin-left:0.5%;
    margin-right:0.5%;
}
#login{
    width:30%;
}
#navbar span form{
    margin-top:-1.25%;
}
#navbar span a {
    color:black;
    font-size:large;
    text-decoration:none;
    font-weight:bold;
}
