body{
    background-image:url("/s/use_your_illusion.png");
    margin: 0 0 0 0;
    }
#navbar{
    background-color:rgba(000,230,200,1);
    height:7%;
    position:fixed;
    }
#navbar span{
    margin-top:0.75%;
    margin-left:0.5%;
    margin-right:0.5%;
    overflow:auto;
}
#navbar span form input{
    margin-left:0.5%;
    margin-right:0.5%;
}
#login{
    width:30%;
    margin-top:0.5%;
}
#navbar span form{
    margin-top:-1%;
}
#navbar span a {
    color:black;
    font-size:large;
    text-decoration:none;
    font-weight:bold;
}
.navfield input{
    width:25%;
    text-align:center;
}
#account_creator{
    text-align:center;
    float:left;
    font-weight:bold;
    margin-top:5%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}
#userlist{
    float:left;
    font-weight:bold;
    margin-top:5%;
}
#userlist td{
    text-align:center;
    margin-left:0.5%;
    margin-right:0.5%;
}

#userlist tr{
    margin-top:0.5%;
}

#greetings{
    margin-top:7.5%;
}
#stats td{
    text-align:center;
}

#stats{
    border-collapse: separate;
    border-spacing:5px;
    margin-left:41.25%;
}
#account_modifier{
    text-align:center;
    float:left;
    font-weight:bold;
    margin-top:5%;
    margin-left:5.61%;
    margin-right:5.61%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}
#account_deleter{
    text-align:center;
    font-weight:bold;
    margin-top:5%;
    float:left;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}
#admin_page{
    text-align:center;
    width:70%;
    margin-left:15%;
}

#account_modifier div{
    margin-top:2%;
}
#account_creator div{
    margin-top:2%;
}
#account_deleter div{
    margin-top:2%;
}
#error_msg{
    margin-top:5%;
    font-weight:bold;
    font-size:large;
    color:red;
}
#login_body{
    margin-top:2.5%;
    text-align:center;
    width:20%;
    margin-left:40%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
}
.greetings{
    font-weight:bold;
    font-size:large;
    margin-bottom:0.5%;
}
.err{
    font-weight:bold;
    font-size:large;
    margin-bottom:0.5%;
    color:red;
}
.body_form input{
    margin-top:2.5%;
    margin-bottom:2.5%;
}
#signup_body{
    margin-top:2.5%;
    text-align:center;
    width:20%;
    margin-left:40%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
}
#delete_body{
    margin-top:2.5%;
    text-align:center;
    width:50%;
    margin-left:25%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
}
#delete_body input{
    margin-top:1%;
}
#account_body{
    margin-top:2.5%;
    text-align:center;
    width:50%;
    margin-left:25%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
}
.account_link {
    margin-bottom:1%;
}
#gameCanvas {
	width : 800px;
	height : 400px;
	position : absolute;
	left : 50%;
	top : 50%;
	margin-left : -400px;
	margin-top : -200px;
	background : url('/s/Media/backGame.jpg');
}

#sideBar {
	position : absolute;
	height : 400px ;
	width : 225px ;
	top : 50%;
	left : 0;
	margin-top : -200px;
	background : rgba(20,20,20,0.5);
}



#home_body{
    margin-top: 2.2%;
    background-color:rgba(255,255,255,0.25);
    width:99%;
    text-align:center;
    border-radius:5px;
    margin-left:0.5%;
    font-weight:bold;
    font-size:large;
}
#account_md_page{
    text-align:center;
    float:left;
    font-weight:bold;
    margin-top:5%;
    margin-left:37.6%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}
#ulist_body table{
    text-align:center;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    width:40%;
    margin-left:30%;
}
#ulist_body table th{
    font-weight:bold;
    font-size:large;
}
#ulist_body table tr{
    margin-top:0.5%;
}
#list_body{
    text-align:center;
    float:left;
    font-weight:bold;
    margin-top:5%;
    width:20%;
    margin-left:40%;
    background-color:rgba(255,255,255,0.25);
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}

