{% include "css.twig" %}

{% include "navbar.twig" %}
<h1>HELLO {{ login }}, how are you today </h1></br>
{% include "stats.twig" %}
</br>
<a href="." > [Placeholder:Link to game]</a></br>
<a href="/delete" > DELETE MY ACCOUNT</a></br>
<a href="/logout"> LOGOUT </a></br>
{% include "endpage.twig" %}
