{% include "css.twig" %}

{% include "navbar.twig" %}</br>
<div id="greetings"> Hello {{ login }}, how are you today? </div></br>
{% include "stats.twig" %}
</br>
<a href="/arena" > [Placeholder:Link to game]</a></br>
<a href="/delete" > DELETE MY ACCOUNT</a></br>
<a href="/logout"> LOGOUT </a></br>
{% include "endpage.twig" %}
