{% include "css.twig" %}
{% include "navbar.twig" %}
    <div id="admin_page">
        <span id="account_creator">
            <form action="/admin_create" method="POST">
               [---ACCOUNT CREATOR ---] 
                <div>
                <input type="text" name="login" placeholder="Login" required>
                </div>
                <div>
                <input type="password" name="pass" placeholder="Password" required>
                </div>
                <div>
                WON </br>               
                <input type="number" name="won" value=0 min=0 required>
                </div>
                <div>
                PLAYED </br>
                <input type="number" name="played" value=0 min=0 required>    
                </div>
                <div>
                KILLS </br>
                <input type="number" name="kills" value=0 min=0 required>  
                </div>
                <div>
                DEATHS </br>
                <input type="number" name="deaths" value=0 min=0 required>
                </div>
                <div>
                COLOR
                <input type="color" name="color">
                </div>
                <div>
                ADMIN?
                <input type="checkbox" name="admin"value=1>
                </div>
                <div>
                <input type="submit" value="Create"> 
                </div>
            </form>
        </span>
        <span id="account_modifier">
            <form action="/admin_modify" method="GET">
            [--- ACCOUNT MODIFYER---]
            <div>
                <select name="login">
                {% for i in ulist %}
                {% for l in i %}
                    <option value={{ l }}> {{ l }} </option>
                {% endfor %}
                {% endfor %}
                </select>
            </div>
            <div>
            <input type="submit" value="Modify">
            </div>
            </form>
        </span>
        <span id="account_deleter">
            <script type="text/javascript">
                function delpass(form)
                {
                    console.log(form.login.value);
                    console.log(form.conf.value);
                    if (form.login.value!=form.conf.value)
                    {
                        alert("Name check failed!");
                        return false;
                    }
                    else
                    {
                        return true;
                    }
                }
            </script>
            <form action="/admin_delete" method="POST" onsubmit="return delpass(this);">
            [--- ACCOUNT DELETER---]
            <div>
                <select name="login">
                {% for i in ulist %}
                {% for l in i %}
                    <option value={{ l }}> {{ l }} </option>
                {% endfor %}
                {% endfor %}
                </select>
            </div>
            <div>
                ENTER ACCOUNT NAME FOR CONFIRMATION </br>
                <input type="text" name="conf" placeholder="Confirmation">
            </div>
            <div>
                <input type="submit" value="delete">
            </div>
            </form>
        </span>
    </div>
{% include "endpage.twig" %}
