{% include "css.twig" %}

<!--Network Jesus, The Mighty Iron Bar, Spark the Compagnion Cluster and The Imperial Ethernet Crown are welcoming you to Dario-battle!!-->

{% include "navbar.twig" %}

<div id='game'>
	<canvas id='gameCanvas' width='1600' height='800' >
	</canvas>
	<script src="JScript/Dario_draw.js" type="application/javascript"></script>	
	<script src="JScript/Game.js" type="application/javascript"></script>
	<script src="JScript/Test_anim.js" type="application/javascript"></script>
	<script src="JScript/Server_sync.js" type="application/javascript"></script>
</div>


{% include "endpage.twig"%}
