{% include "css.twig" %}

<!--Network Jesus, The Mighty Iron Bar, Spark the Compagnion Cluster and The Imperial Ethernet Crown are welcoming you to Dario-battle!!-->

{% include "navbar.twig" %}

<div id='game'>
	<input type=color id=shirt_col value="#ff00ff" style="margin-top:80px"> <br>
	<canvas id='gameCanvas' heigth=800 width='600'>
	</canvas>
	<script src="JScript/Dario_draw.js" type="application/javascript"></script>	
	<script src="JScript/Game.js" type="application/javascript"></script>
	<script src="JScript/Test_anim.js" type="application/javascript"></script>
	<script src="JScript/Server_sync.js" type="application/javascript"></script>
</div>

{% include "endpage.twig"%}

