{% include "css.twig" %}

{% include "navbar.twig" %}

<div> YOU'RE ABOUT TO DELETE YOUR DARIO-ARENA ACCOUNT </div>
<div> all your statistics will be permanantly erased!! </div>
<form action="/delete" method="POST">
<div>
ENTER YOUR PASSWORD FOR CONFIRMATION
<input type="password" name="pass" placeholder="Confirmation">
</div>
<div>
<input type="submit" value="DESTROY MY ACCOUNT">
</div>
</form>
<form action="/account" method="GET">
<input type="submit" value="BACK">
</form>

{% include "endpage.twig" %}
