{% include "navbar.twig" %}
<h1> YOU'RE ABOUT TO DELETE YOUR DARIO-BATTLE ACCOUNT </h1>
<h2> all your statistics will be permanantly erased!! </h2>
<form action="/delete" method="POST">
<input type="submit" value="DESTROY MY ACCOUNT">
</form>
<form action="/account" method="GET">
<input type="submit" value="BACK">
</form>
