{% include "css.twig" %}
{% include "navbar.twig" %}
</br>
<div id="error_msg">
If you can see this message, this means you've tried to acess a page you shoudn't have acess to, or that the server has encountered an error.</br>

You may try to acess your previous destination again, or contact the admin for more information.
</div>

{% include "endpage.twig" %}
