{% include "css.twig" %}

<!--Network Jesus, The Mighty Iron Bar, Spark the Compagnion Cluster and The Imperial Ethernet Crown are welcoming you to Dario-arena!!-->
{% include "navbar.twig" %}

<br>
<div id="home_body">
Welcome to dario-arena!! <br>
A Project by Pablo Bourdelas and Guillaume Ryckaert
<div id="home_img">
<img src="s/dario-1.png" alt="dario">
</div>
<br><a href="https://github.com/94810/dario-arena"> Git </a>
</div>

{% include "endpage.twig"%}
