{% include "css.twig" %}

<!--Network Jesus, The Mighty Iron Bar, Spark the Compagnion Cluster and The Imperial Ethernet Crown are welcoming you to Dario-arena!!-->

{% include "navbar.twig" %}

<div class="greetings">
WELCOME TO....</br>

</div>

{% include "endpage.twig"%}
