<div id="navbar" style=width:100%>
    <span id="home" style=float:left;>
        <a href='/home'>
            Home
        </a>
    </span>
    <span id="userlist" style=float:left; >
        <a href='/userlist'>
            Users
        </a>
    </span>
    {% if login %}
    <span id="account" style=float:left;>
        <a href='/account'>
            My Account
        </a>
    </span>
    <span id="game" style=float:left>
        <a href='/arena'>
            Game
        </a>
    </span>
    <span id="logout" style=float:right;>
        <a href="/logout">
            Logout
        </a>
    </span>
    {% else %}    
    <span id=signup style=float:right;>
        <a href="/signup">
            Signup
        </a>
    </span>
    <span id="login" style=float:right;>
        <div id="container" >
            <form action='/login' method='POST'>
                <span class="navfield">
                    <input type="text" name="login" placeholder="Username" required>
                </span>
                <span class="navfield">
                    <input type="password" name="pass" placeholder="Password" required>
                </span>
                <span class="navfield">
                    <input type="submit" value="Login">
                </span>
            </form>
        </div>
    </span>

    {% endif %}
</div>
