{% include "css.twig" %}

<!--Network Jesus, The Mighty Iron Bar, Spark the Compagnion Cluster and The Imperial Ethernet Crown are welcoming you to Dario-battle!!-->

{% include "navbar.twig" %}

<div id=list_body >
	<h4> Select a Room</h4><br>
	<form method='POST'>
	<select name='room'>
		{% for room, val in rlist %}
			<option value={{ room }}>{{ room }} :: {{ val }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Connect">
	</form>
</div>


{% include "endpage.twig"%}
