<table id="stats">
    <thead>
        <tr>
            <th>
                Games Played
            </th>
            <th>
                Games Won
            </th>
            <th>
                Killed
            </th>
            <th>
                Deaths
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ Played }}
            </td>
            <td>
                {{ Won }}
            </td>
            <td>
                {{ Killed }}
            </td>
            <td>
                {{ Deaths }}
            </td>
        </tr>
    </tbody>
</table>
